<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoAccountMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoAccount">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Columns">
		id,
		account,
		name,
		phone,
		email,
		type,
		password,
		create_time
	</sql>


	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_account
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_account
		where account = #{account,jdbcType=VARCHAR}
	</select>

	<insert id="addAccount" parameterType="com.solar.entity.SoAccount"
		useGeneratedKeys="true" keyProperty="id">
		insert into so_account ( account,
		name,
		phone, email,
		type,password)
		values (
		#{account,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},
		#{password,jdbcType=VARCHAR})
	</insert>

</mapper>