<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoAccountMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoAccount">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Columns">
		id,
		account,
		name,
		phone,
		email,
		type,
		password,
		create_time
	</sql>


	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_account
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_account
		where account = #{account,jdbcType=VARCHAR}
	</select>

	<select id="selectBySoAccount" parameterType="com.solar.entity.SoAccount"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_account where 1=2
		<if test="account!=null">
			union
			select
			<include refid="Columns" />
			from so_account
			where account = #{account,jdbcType=VARCHAR}
		</if>
		<if test="phone!=null">
			union
			select
			<include refid="Columns" />
			from so_account
			where phone = #{phone,jdbcType=VARCHAR}
		</if>
		<if test="email!=null">
			union
			select
			<include refid="Columns" />
			from so_account
			where email = #{email,jdbcType=VARCHAR}
		</if>
	</select>


	<select id="selectByPhone" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_account
		where phone = #{phone,jdbcType=VARCHAR}
	</select>


	<update id="updateAccountPhonePwd" parameterType="com.solar.entity.SoAccount">
		update
		so_account
		set
		phone=#{phone}, password=#{password}
		where id=#{id}
	</update>

	<update id="updateAccount" parameterType="com.solar.entity.SoAccount">
		update
		so_account
		set
		name=#{name},
		email=#{email},
		phone=#{phone}
		where
		id=#{id}
	</update>

	<update id="updateStatus" parameterType="com.solar.entity.SoAccount">
		update so_account
		set
		status=#{status}
		where id=#{id}
	</update>

	<insert id="addAccount" parameterType="com.solar.entity.SoAccount"
		useGeneratedKeys="true" keyProperty="id">
		insert into so_account ( account,
		name,
		phone, email,
		type,password)
		values (
		#{account,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},
		#{password,jdbcType=VARCHAR})
	</insert>

	<select id="queryAccount" parameterType="com.solar.entity.SoPage"
		resultType="com.solar.entity.SoAccount">
		select
		sac.*
		,
		acl.locationIds as locationIds
		from so_account sac,(
		select
		acc.id,group_concat(acl.location_id) as
		locationIds from so_account acc
		left join so_account_location acl on
		acc.id=acl.account_id
		group by
		acc.id) acl
		where sac.id=acl.id
		<if test="page.c.status!=null">
			and sac.status=#{page.c.status}
		</if>
		<if test="page.c.status == null">
			and sac.status=50
		</if>
		<if test="page.c.account!=null">
			and sac.account=#{page.c.account}
		</if>
		<if test="page.start!=null and page.count!=null">
			limit #{page.start},#{page.count}
		</if>
		<if test="page.count!=null and page.start==null">
			limit #{page.count}
		</if>
	</select>
</mapper>