<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoAppVersionMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoAppVersion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="ver_no" jdbcType="VARCHAR" property="verNo" />
		<result column="info" jdbcType="INTEGER" property="info" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Columns">
		id,
		ver_no,
		type,
		info,
		path,
		file_name,
		create_time
	</sql>

	<insert id="addNewVersion" parameterType="com.solar.entity.SoAppVersion"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO so_app_version
		 (
			ver_no,
			type,
			info,
			path,
			file_name
		 )
		 VALUES
		 (
			 #{verNo},
			 #{type},
			 #{info},
			 #{path},
			 #{fileName}
		 )
	</insert>

	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_app_version
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectLastVersion" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_app_version where 
		id = (select max(id) from so_app_version where type = #{type,jdbcType=INTEGER})
	</select>

</mapper>