<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoDevicesMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoDevices">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="dev_no" jdbcType="VARCHAR" property="devNo" />
		<result column="cust_id" jdbcType="BIGINT" property="custId" />
		<result column="gps_info" jdbcType="VARCHAR" property="gpsInfo" />
		<result column="ip_addr" jdbcType="VARCHAR" property="ipAddr" />
		<result column="data_server_ip" jdbcType="VARCHAR" property="dataServerIp" />
		<result column="data_server_port" jdbcType="INTEGER" property="dataServerPort" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Columns">
		id,
		dev_no,
		cust_id,
		gps_info,
		ip_addr,
		data_server_ip,
		data_server_port,
		create_time
	</sql>


	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_devices
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByCustId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_devices
		where cust_id = #{custId,jdbcType=VARCHAR}
	</select>

	<select id="allDevs" resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_devices
	</select>
</mapper>