<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoDevicesMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoDevices">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="dev_no" jdbcType="VARCHAR" property="devNo" />
		<result column="location_id" jdbcType="BIGINT" property="locationId" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="sw0" jdbcType="BIT" property="sw0" />
		<result column="sw1" jdbcType="BIT" property="sw1" />
		<result column="sw2" jdbcType="BIT" property="sw2" />
		<result column="sw3" jdbcType="BIT" property="sw3" />
		<result column="sw4" jdbcType="BIT" property="sw4" />
		<result column="sw5" jdbcType="BIT" property="sw5" />
		<result column="sw6" jdbcType="BIT" property="sw6" />
		<result column="sw7" jdbcType="BIT" property="sw7" />
		<result column="gps_info" jdbcType="VARCHAR" property="gpsInfo" />
		<result column="ip_addr" jdbcType="VARCHAR" property="ipAddr" />
		<result column="data_server_ip" jdbcType="VARCHAR" property="dataServerIp" />
		<result column="data_server_port" jdbcType="INTEGER" property="dataServerPort" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Columns">
		id,
		dev_no,
		location_id,
		project_id,
		sw0,
		sw1,
		sw2,
		sw3,
		sw4,
		sw5,
		sw6,
		sw7,
		gps_info,
		ip_addr,
		data_server_ip,
		data_server_port,
		create_time
	</sql>

	<update id="update" parameterType="com.solar.entity.SoDevices">
		update so_devices
		set
		location_id = #{locationId},
		project_id = #{projectId},
		sw0 = #{sw0},
		sw1 = #{sw1},
		sw2 = #{sw2},
		sw3 = #{sw3},
		sw4 = #{sw4},
		sw5 = #{sw5},
		sw6 =
		#{sw6},
		sw7 = #{sw7}
		where id = #{id}
	</update>

	<insert id="insert" parameterType="com.solar.entity.SoDevices"
		keyProperty="id" useGeneratedKeys="true">
		insert into so_devices (
		dev_no,
		location_id,
		project_id,
		sw0,
		sw1,
		sw2,
		sw3,
		sw4,
		sw5,
		sw6,
		sw7
		) values(
		#{devNo},
		#{locationId},
		#{projectId},
		#{sw0},
		#{sw1},
		#{sw2},
		#{sw3},
		#{sw4},
		#{sw5},
		#{sw6},
		#{sw7}
		)
	</insert>

	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_devices
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByProjectId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_devices
		where project_id = #{projectId,jdbcType=BIGINT}
	</select>

	<select id="allDevs" resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_devices
	</select>

	<select id="selectByDevNo" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_devices
		where dev_no = #{devNo,jdbcType=VARCHAR}
	</select>

	<select id="queryDevices" resultMap="BaseResultMap"
		parameterType="com.solar.entity.SoDevices">
		select
		<include refid="Columns" />
		from so_devices
		limit #{start},#{count}
	</select>
	
	<delete id="delete">
		delete from so_devices where dev_no=#{devNo}
	</delete>
</mapper>