<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoProvincesMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoProvinces">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="provinceid" jdbcType="VARCHAR" property="provinceid" />
		<result column="province" jdbcType="VARCHAR" property="province" />
	</resultMap>

	<sql id="Columns">
		id,
		provinceid,
		province
	</sql>


	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from provinces
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectALL" resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from provinces
	</select>

</mapper>