<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoPrivilegeMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoPrivilege">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="account_id" jdbcType="BIGINT" property="accountId" />
		<result column="location_id" jdbcType="VARCHAR" property="locationId" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Columns">
		id,
		account_id,
		location_id,
		project_id,
		create_time
	</sql>

	<select id="selectByAccountId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_privilege
		where account_id = #{accountId,jdbcType=BIGINT}
	</select>

	<select id="selectOwnerLocations" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		location_id as locationId
		from so_privilege
		where
		account_id = #{accountId,jdbcType=BIGINT}
	</select>

	<insert id="addPrivilege" parameterType="com.solar.entity.SoPrivilege"
		useGeneratedKeys="true">
		insert
		into so_privilege ( account_id, location_id ,project_id)
		values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.accountId,jdbcType=BIGINT},
			#{item.locationId,jdbcType=VARCHAR},
			#{item.projectId,jdbcType=BIGINT}
			)
		</foreach>
	</insert>

	<select id="queryOwnerProjects" parameterType="java.lang.Long"
		resultType="com.solar.entity.SoProject">
		select pro.id as id,
		pro.project_name as projectName,
		pro.location_id as locationId
		from
		so_privilege pri,so_project pro
		where
		pri.project_id = pro.id
		and pri.account_id=#{id}
	</select>

	<delete id="deleteByAccountId">
		delete from so_privilege where account_id = #{id}
	</delete>
</mapper>