<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoRunningDataMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoRunningData">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="uuid" jdbcType="VARCHAR" property="uuid" />
		<result column="fmid" jdbcType="VARCHAR" property="fmid" />
		<result column="vssun" jdbcType="VARCHAR" property="vssun" />
		<result column="ichg" jdbcType="VARCHAR" property="ichg" />
		<result column="vbat" jdbcType="VARCHAR" property="vbat" />
		<result column="qbat" jdbcType="VARCHAR" property="qbat" />
		<result column="ild1" jdbcType="VARCHAR" property="ild1" />
		<result column="ild2" jdbcType="VARCHAR" property="ild2" />
		<result column="ild3" jdbcType="VARCHAR" property="ild3" />
		<result column="temp" jdbcType="VARCHAR" property="temp" />
		<result column="ain1" jdbcType="VARCHAR" property="ain1" />
		<result column="ain2" jdbcType="VARCHAR" property="ain2" />
		<result column="ain3" jdbcType="VARCHAR" property="ain3" />
		<result column="stat" jdbcType="VARCHAR" property="stat" />
		<result column="utctime" jdbcType="VARCHAR" property="utcTime" />
		<result column="altitude" jdbcType="VARCHAR" property="altitude" />
		<result column="longitude" jdbcType="VARCHAR" property="longitude" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="Columns">
		id,
		uuid,
		fmid,
		vssun,
		ichg,
		vbat,
		qbat,
		ild1,
		ild2,
		ild3,
		temp,
		ain1,
		ain2,
		ain3,
		stat,
		utctime,
		altitude,
		longitude,
		create_time
	</sql>


	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_running_data
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectLastRunntionData" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_running_data
		where uuid = #{uuid,jdbcType=VARCHAR}
		order by id
		desc
		limit #{count}
	</select>

	<insert id="insert" parameterType="com.solar.entity.SoRunningData"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO so_running_data
		(
		uuid,
		fmid,
		vssun,
		ichg,
		vbat,
		qbat,
		ild1,
		ild2,
		ild3,
		temp,
		ain1,
		ain2,
		ain3,
		stat,
		utctime,
		altitude,
		longitude
		)
		VALUES
		(
		#{uuid},
		#{fmid},
		#{vssun},
		#{ichg},
		#{vbat},
		#{qbat},
		#{ild1},
		#{ild2},
		#{ild3},
		#{temp},
		#{ain1},
		#{ain2},
		#{ain3},
		#{stat},
		#{utcTime},
		#{altitude},
		#{longitude}
		)
	</insert>

	<select id="selectMaxId" resultType="Long">
		select COALESCE(MAX(id),0)
		from so_running_data
	</select>
</mapper>