<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.db.dao.SoWorkingModeMapper">
	<resultMap id="BaseResultMap" type="com.solar.entity.SoWorkingMode">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="continuous" jdbcType="BOOLEAN" property="continuous" />
		<result column="timing" jdbcType="BOOLEAN" property="timing" />
		<result column="point_of_time" jdbcType="TIME" property="pointOfTime" />
		<result column="fixed_timing_length" jdbcType="BOOLEAN" property="fixedTimingLength" />
		<result column="time_interval" jdbcType="INTEGER" property="timeInterval" />
		<result column="emergency" jdbcType="BOOLEAN" property="emergency" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
	</resultMap>

	<sql id="Columns">
		id,
		continuous,
		timing,
		point_of_time,
		fixed_timing_length,
		time_interval,
		emergency,
		create_time,
		create_by
	</sql>


	<select id="selectLastOne" resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_working_mode
		where id = (select max(id) from so_working_mode)
	</select>

	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Columns" />
		from so_working_mode
		where id = #{id,jdbcType=INTEGER}
	</select>

	<insert id="insert" parameterType="com.solar.entity.SoRunningData"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO so_working_mode
		(
			continuous,
			timing,
			point_of_time,
			fixed_timing_length,
			time_interval,
			emergency,
			create_by
		)
		VALUES
		(
			#{continuous},
			#{timing},
			#{pointOfTime},
			#{fixedTimingLength},
			#{timeInterval},
			#{emergency},
			#{createBy}
		)
	</insert>
</mapper>